<nav class="topbar">      
    <div class="logo">
        <p class="the_logo">ASAP</p>                
    </div>
    <div class="menu boxhead">
        <a class="menu_items" href= "/order"><span>Home</span></a>
        <a class="menu_items" href= "/order/ongoing"><span>Ongoing Order</span></a>
        <a class="menu_items" href= "/order/completed"><span>Completed</span></a>
    </div>
</nav>