<html>
    <head>
        <title>ASAP Express</title>
    </head>
    <body>
        <%- include('home') %>
        <a href="/courier">
            <input type="button" value="Courier Data">
        </a>
    </body>
</html>