<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
<title>Add Order</title>
</head>
    <body>
        <%- include('partials/nav') %>
        <a href="/courier">
            <input type="button" value="Courier Data">
        </a>
    </body>
</html>