<!DOCTYPE html>
<html>
<body align = "center">
    <h1>Add Order</h1>
    
    <div align="center">
        <form action="/order" method="post">
            <p></p>
            size: <input type="text" name="size"><br>
            weight: <input type="text" name="weight"><br>
            <input type="radio" name="isFragile" value="true">Fragile
            <input type="radio" name="isFragile" value="false">Not Fragile
            <input type="submit" value="Submit">
          </form>
          
    </div>

</body>
</html>